body{
	font-family: Raleway;
}

.logo{
	float: left;
	padding: 20px 0px;
	/*position: relative;
	display: inline-block;*/
}

nav{
	float: right;
	padding: 25px 40px;
}

li{
	display: inline;
}

nav ul li{
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 15px;
}

nav ul li a{
	text-decoration: none;

}

nav ul li a span{
	font-weight: bold;
}

.container{
	margin: 0 auto;
	overflow: auto;
	width: 960px;

}

.bakgrnd{
	background-image: url("../assets/indexbanner-bg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 528px;
}

.bakgrnd .container article{
	overflow: auto;
}


.artPpal h1{
	font-size: 48px;
	color: #fff;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	padding: 120px 250px 0px 0px;	
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 1.2;



}

.artPpal h2{
	font-size: 18px;
	color: #fff;
	font-family: Raleway, sans-serif;
	line-height: 40px;
	padding-top: 20px;

}

.artPpal div{
	float: left;
	padding-top: 0px;
	max-width: 460px;
}

.survey{
	position: absolute;
	margin: 125px auto;
	width: 960px;


}

.survey textarea{
	border-style: solid;
	border-color: #cccccc;
	padding: 16px;
	font-size: 15px;
	display: inline;
	width: 860px;
	box-shadow: 2px 10px 2px 2px rgba(50, 50, 50, 0.5);

}

.survey textarea .index{
	width: 860px;
	float: left;

	

}

.btnSearch{
	float: right;
	background-color: #448AFF;
	text-transform: uppercase;
	color: #fff;
	width: 100px;
	font-size: 14px;
	font-weight: bold;
	padding: 24px;
	/*background-image*/


}

.qualities{
	padding-top: 80px;
}

.qualities .container ul{
	padding-top: 10px;
	float: left;

}

.qualities .container ul li{
	display: inline-block;
	max-width: 24%;
	padding: 10px;
	box-sizing: border-box;

}

.qualities .container article{
	border: 1px solid red;
}

.contenido{
	padding: 10px;
	margin: 0 auto;

}

.contenido h3{
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}

.contenido p{
	text-align: center;
	text-transform: capitalize;
}

.qualities img{
	width: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.destacado1{
	padding: 5px;
	margin: 0 auto;
}
.destacado1 h2{
	font-size: 30px;
	color: red;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	padding:  5px;
	text-align: center; 

}

.destacado1 p{
	font-size: 20px;
	color: red;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	text-align: center;
	text-transform: capitalize;

}
	
.separador{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
}




